# =============================
# Environment & Secrets
# =============================
venv/
env/
.venv/
/.env
.env.*
ingestion/config.py


# =============================
# Python
# =============================
__pycache__/
/*.pyc
*.py[cod]
*$py.class
.ipynb_checkpoints/


# =============================
# Data
# =============================
data/raw/
/data/backups/
data/cache/


# =============================
# Logs
# =============================
*.log
