# =============================
# Environment & Secrets
# =============================
.env
.env.*

# =============================
# Python
# =============================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# =============================
# Data
# =============================
data/raw/
data/processed/
data/cache/


# =============================
# Logs
# =============================
*.log
